:root {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F4F4F4;
}


h1,h2,h3,h4,h5 {
  margin: 0;
}

input, select, button, .ant-select-single {
  height: 50px !important;
}